{% extends "base.html" %}

{% block content %}
    <h1 class='text-center mb-3'>Add A New Recipe</h1>
    <form action="" method="POST" name="add">
        {{form.hidden_tag()}}
        <p>
            Title: {{form.title(class_='form-control')}}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Servings: {{form.servings(class_='form-control')}}<br>
            {% for error in form.servings.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Cooking Time: {{form.cooking_time(class_='form-control')}}<br>
            {% for error in form.cooking_time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Difficulty: {{form.difficulty(class_='form-control')}}<br>
            {% for error in form.difficulty.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Calories: {{form.calories(class_='form-control')}}<br>
            {% for error in form.calories.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Ingredients: {{form.ingredients(class_='form-control')}}<br>
            {% for error in form.ingredients.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Preparation Method: {{form.method(class_='form-control')}}<br>
            {% for error in form.method.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            User: {{form.user(class_='form-control')}}<br>
            {% for error in form.user.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Categories: {{form.categories(class_='form-control')}}<br>
            {% for error in form.categories.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p>{{ form.submit(class_='form-control') }}</p>
    </form>

{% endblock %}