<!-- extend base layoout -->
{% extends "base.html" %}

{% block content %}

    <h1 class='text-center mb-3'>Add New Category</h1>
            <form action="" method="POST">
            {{form.hidden_tag() }}
            <p>
            Dish Type: {{ form.dish_type(class_='form-control')}}<br>
            {% for error in form.dish_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Recipes in the category: {{ form.recipes(class_='form-control')}} <br>
            {% for error in form.recipes.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            </p>
            <p>{{ form.submit(class_='form-control') }}</p>
            </form>
{% endblock %}