{% extends "base.html" %}
{% block content %}
<h1 class='text-center mb-3'>All Recipes</h1>
<table class="table">
    <thread>
        <tr>
            <th>Title</th>
            <th>Servings</th>
            <th>Time</th>
            <th>Difficulty</th>
            <th>Calories</th>
            <th>Ingredients</th>
            <th>Preparation</th>
            <th>Categories</th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        {% for recipe in recipes %}
        <tr>
            <td>{{recipe.title}}</td>
            <td>{{recipe.servings}}</td>
            <td>{{recipe.cooking_time}}</td>
            <td>{{recipe.difficulty}}</td>
            <td>{{recipe.calories}}</td>
            <td>{{recipe.ingredients}}</td>
            <td>{{recipe.method}}</td>
            <td>{{recipe.categories}}</td>  
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}