<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en" class="h-100">
    <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/style.css">
    {% if title %}
    <title>Recipe diary - {{ title }}</title>
    {% else %}
    <title>Recipe diary</title>
    {% endif %}
    <style>
      ul#menu li {
        display: inline;
      }
    </style>
               
    </head>
    <body class="h-100">
      <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <ul class="nav navbar-nav">
        {% if current_user.is_authenticated %}
        <li><a href="{{url_for('recipes.index')}}">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Recipes
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('recipes.allRecipes')}}">All Recipes</a></li>
            <li><a href="{{url_for('recipes.add')}}">Add Recipe</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('recipes.categories')}}">All Categories</a></li>
            <li><a href="{{url_for('recipes.addCategory')}}">Add Category</a></li>
          </ul>
        </li>
        <li><a href="{{url_for('users.profile')}}">My Profile</a></li>
        <li><a href="{{url_for('users.logout')}}">Logout</a></li>
        {% else %}
        <li><a href="{{url_for('recipes.index')}}">Home</a></li>
        <li><a href="{{url_for('users.login')}}">Login</a></li>
        <li><a href="{{url_for('users.sign_up')}}">SignUp</a></li>
        {% endif %}
      </ul> 
      </div>
    </nav>
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                  {% for category, message in messages %}
                  <div class="alert alert-{{ category }}" role="alert">
                      <span>{{ message }}</span>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  {% endfor %}
                  {% endif %}
                {% endwith %} 
                {% block content %}{% endblock %}
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
    </body>
</html>