{% extends "base.html" %}
{% block content %}


<table class="table">
    <thead>
      <tr>
        <th>Categories</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    {% for c in categories %}
    <tr>
      <td>{{c}}</td>
      <td><a href="/categories/{{c.id}}"><button type="button" class="btn btn-primary">Recipes</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}