{% extends "base.html" %}

{% block content %}
<h1 class='text-center mb-3'>Recipe Diary</h1>
<!-- Carousel with recipes(+images) -->
<style>
    .carousel-inner >.item > img,
    .carousel-inner >.item > a > img{
        width:70%;
        margin:auto;
    }

</style>
<div class="container">
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
      <li data-target="#demo" data-slide-to="5"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="item active">
        <img class="d-block" src="static/images/active.jpg" alt="Breakfast bowl" style="width:100%;">
      </div>
      <div class="item">
        <img class="d-block" src="static/images/cake.jpg" alt="Apple cake" style="width:100%;">
      </div>
      <div class="item">
        <img class="d-block" src="static/images/falafels.jpg" alt="Falafels" style="width:100%;" >
      </div>
      <div class="item">
        <img class="d-block" src="static/images/honeycookies.jpg" alt="Honey Cookies" style="width:100%;" >
      </div>
      <div class="item">
        <img class="d-block" src="static/images/oats.jpg" alt="Oats" style="width:100%;" >
      </div>
      <div class="item">
        <img class="d-block" src="static/images/pudding.jpg" alt="Chocolate Pudding" style="width:100%;" >
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#demo" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#demo" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
</div>
</div>

{% if current_user.is_authenticated %}
<!-- View all recipes and add a recipe if user is authenticated -->
<div class="col-sm-8 col-sm-offset-3 pt-1" style="padding-top: 20px; ">
<a href="{{url_for('recipes.allRecipes')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View all recipes</a>
<a href="{{url_for('recipes.add')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add a new recipe</a>
</div>
{% else %}
<!-- Sing up if user is not authenticated -->
<div class="col-sm-8 col-sm-offset-3 pt-1" style="padding-top: 20px; ">
<a href="{{url_for('users.sign_up')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sign Up Now</a>
</div>
{% endif %}

{% endblock %}