<!-- extend base layoout -->
{% extends "base.html" %}

{% block content %}

    <h1 class='text-center mb-3'>Login</h1>
            <form action="" method="POST" name="signup">
            {{form.hidden_tag() }}
            <p>
            Email: {{ form.email(class_='form-control')}}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Password: {{ form.password(class_='form-control')}} <br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            </p>
            <p>{{ form.submit(class_='form-control') }}</p>
            </form>
            <p>
                Forgot Your Password?
                <a href="{{ url_for('users.reset_password_req') }}">Click Here To Reset It</a>
            </p>
{% endblock %}