{% extends "base.html" %}

{% block content %}
    <h1 class='text-center mb-3'>Reset Your Password</h1>
    <form action="" method="POST">
        {{form.hidden_tag() }}
        <p>
            Password: {{ form.password(class_='form-control')}} <br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Confirm password: {{ form.confirm(class_='form-control')}}<br>
            {% for error in form.confirm.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p>{{ form.submit(class_='form-control') }}</p>
    </form>
{% endblock %}