{% extends "base.html" %}

{% block content %}
    <h1 class='text-center mb-3'>Reset Your Password</h1>
    <form action="" method="POST">
        {{form.hidden_tag() }}
        <p>
        Email: {{ form.email(class_='form-control')}}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
        </p>
        <p>{{ form.submit(class_='form-control') }}</p>
    </form>
{% endblock %}