<!-- extend base layoout -->
{% extends "base.html" %}

{% block content %}
    <h1 class='text-center mb-3'>Sign up</h1>
<!-- <div class="container h-100">
    <div class="jusify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6"> -->
            <form action="" method="POST" name="signup">
            {{form.hidden_tag() }}
            <p>
            First name: {{form.firstname(class_='form-control')}}<br>
            {% for error in form.firstname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Surname: {{ form.surname(class_='form-control')}} <br>
            {% for error in form.surname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Email: {{ form.email(class_='form-control')}}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Password: {{ form.password(class_='form-control')}} <br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            Confirm password: {{ form.confirm(class_='form-control')}}<br>
            {% for error in form.confirm.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            </p>
            <p>{{ form.submit(class_='form-control') }}</p>
        <!-- <input type="submit" class="btn btn-default" value="Sign Up"> -->
            </form>
        <!-- </div>
    </div>
</div> -->
{% endblock %}