{% extends "base.html" %}
{% block content %}

<div class="user-profile">
    <div class="page-header">
        <h2 class='text-center mb-3'>My Profile</h2>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-primary">
              <div class="panel-heading">User</div>  
              <div class="panel-body">
                {{current_user.firstname}}
                {{current_user.surname}}
            </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Email</div>  
                <div class="panel-body">{{current_user.email}}</div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">My Recipes</div>  
                <div class="panel-body">{{current_user.recipes}}</div>
            </div>
            <div class="panel panel-info">
            <div class="panel-body">
            <a href="{{url_for('users.change_password')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Change Password</a>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}