<p>Hello {{user.firstname}},</p>
<p>
    To reset you password
    <a href="{{url_for('users.reset_password', token=token, _external=True) }}">
        Click Here
    </a>
</p>
<p> If this does not work for you, you can paste the following link in your web browser:</p>
<p>{{url_for('users.reset_password', token=token, _external=True) }}</p>
<p>If you have not requested a password reset, please ignore this message</p>
<p>Best Wishes,</p>
<p>Recipe Diary Team</p>